.assigment-container{
    margin-top: 84px;
    margin-left: 272px;
    margin-right: 40px;
    margin-bottom: 80px;
}

.content-tab {
    color: var(--color)
}

.assignment-page-label {
    font-weight: 700;
    font-size: 28px;

    display: flex;
    align-items: center;
}

.back-to-test {
    display: flex;
    align-items: center;

    margin-right: 16px;

    cursor: pointer;
}

.ml-8 {
    margin-left: 8px;
}


.assignment-page-title-container {
    display: flex;
    justify-content: space-between;

    margin-bottom: 48px;
}