.pr-md {
    padding-right: 16px;
}

.pl-md {
    padding-left: 16px;
}


.test-codes {
    margin-top: 24px !important;

    align-items: center;
}

.test-code {
    display: flex;
    align-items: center;
}

.multiple-choice {
    &-detail {
        display: flex;
        flex-direction: column !important;
        align-items: center;
        justify-content: space-between;
    }

    &__label {
        font-size: 16px;
        font-weight: 500;
    }
}


.view-test-result {
    display: flex;
    align-items: center;
}