.upload-submission-mage {
    margin-top: 24px
}

.upload-submission-label {
    margin-bottom: 24px;

    display: flex;
}

.select-test {
    // display: flex;

    &_item {
        width: 100%;
        margin-right: 24px;
        flex-grow: 1;
    }

    &_code {
        width: 100%;
        flex-grow: 1;
        margin-top: 24px;
    }
}

.mt-24 {
    margin-top: 24px;
    
}

.submit-assignment {
    margin-top: 24px;
}

.assignment-container {
    margin-top: 24px;
}

.upload-submission-label {
    font-size: 24px;
    font-weight: 700;
}

.row-result {
    margin-bottom: 24px !important;
}

.result__label {
    font-weight: 600;
    font-size: 18px;
}

.dialog-title {
    font-weight: 700;
    font-size: 20px;
}

.file-list-container {
    list-style: none;

    overflow-y: auto;
    max-height: 80%;

    display: flex;
    align-items: center;
    flex-direction: column;

    padding: 0;
}

.file-item {

    margin: 0 16px 8px 16px !important;
}

.list-file-title {
    font-weight: 600;
    font-size: 16px;
    
    display: flex;
    align-items: center;
    justify-content: center;
}

.empty-list {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 100%;

    font-weight: 600;
    font-size: 16px;
    color: rgb(230, 230, 230);

    
}

.list-assignment-file-container {
    margin-bottom: 24px !important;
}

.mr-8 {
    margin-right: 8px;
}