.class {
    padding: 24px 0;

    &__add-class {
        padding-bottom: 24px;
    }

    &__list {
        overflow-y: auto;
        height: calc(100vh - 290px);
        margin: 0;
        padding: 0;

        &::-webkit-scrollbar {
            width: 6px;
            background: none;
        }

        &::-webkit-scrollbar-thumb {
            background: var(--activeState);
            border-radius: 4px;
        }
    }
    &__item {
        height: 24px;
        padding: 8px 24px;

        color: var(--color);
        font-weight: 500;
        font-size: 16px;

        text-decoration: none;

        &:hover {
            background: var(--highlightBackground);
            border-radius: 4px;
        }

        &.activelass {
            background: var(--activeState);
            border-radius: 4px;
            color: var(--activeColor);
        }
    }
}

.course-icon {
    display: flex;
    align-items: center;

    margin-right: 8px;
}