.search {
    &-container {
        border: 1px solid var(--activeColor);
        background: var(--highlightBackground);
        border-radius: 4px;
        padding: 4px 8px;

        cursor: text;
    }
    &__input {
        border: unset;
        background: unset;
        color: (var(--color));
        height: 28px;
        padding-left: 8px;
        &:focus {
            outline: none;
        }

    }
}