.welcome-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    height: 100%;
}

.welcome {

    &__info {
        margin-bottom: 24px;
    }

    &__desc {
        font-size: 28px;
        font-weight: 700; 

        display: flex;
        justify-content: center;

        margin-bottom: 16px;
    }

}
